body {
	padding: 15px;
	font-family: sans-serif;
}

div.form-group {
	width: 100%;
	height: 100px;
}

label { 
	display: inline-block;
	width: 100px;
	float: left;
}
input, textarea { 
	width: 600px; 
	float: left;
}

.msg { display: none; }