@font-face {
    font-family: BodoniBold;
    src: url(../fonts/bodoni/BodoniFLF-Bold.woff);
}
@font-face {
    font-family: BrownRegular;
    src: url(../fonts/brown/BrownStd-Regular.woff);
}

@font-face {
    font-family: BodoniRoman;
    src: url(../fonts/bodoni/BodoniFLF-Roman.ttf);
}
@font-face {
    font-family: BrownLight;
    src: url(../fonts/brown/BrownStd-Light.otf);
}