$baseIndex: 10;
$centeredIndex: 100;
$navigationIndex: 1000;

$topBarHeight: 100px;

// $keyframes: @keyframes demo {
// 	0% {background:#009900;}
// 	100% {background:#CC66FF; width:300px; height:300px;}
// }