@import 'commons/fontface';
@import 'commons/variables';

body{
	-webkit-user-select: none;
	background-color: #000000;
	font-family: 'BrownLight';
	margin: 0;
	padding: 0;
	overflow: hidden;

	div#appContainer {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;

		// transform: rotate(90deg);

		div.recipe-container {
			perspective: 1000px;
			position: absolute;
			width: 50%;
			height: 33.33%;

		    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
		    

			&.centered {
				top: 33.33%!important;
				left: 25%!important;
				z-index: $centeredIndex;
				// animation: demo 2s;
			}
			&.vanish {
				top: 33.33%!important;
				left: 25%!important;
				z-index: $baseIndex;
				opacity: 0;
			}
			&.flip {
				div.flipper { transform: rotateY(180deg);  }
			}
			&.enlarge {
				top: 0!important;
				left: 0!important;
				width: 100%;
				height: 100%;

				div.flipper {
					div.front, div.back { height: 100vh; }
				}
			}


			&#medioevo { 
				top: 0;
				left: 0;

				div.front { background-image: url(../img/01_medioevo_hq.jpg); }
				div.back { background-image: url(../img/01_medioevo_hq.jpg); }
			}
			&#rinascimento { 
				top: 0;
				left: 50%;
				
				div.front { background-image: url(../img/02_rinascimento_hq.jpg); }
				div.back { background-image: url(../img/02_rinascimento_hq.jpg); }
			}
			&#procopio { 
				top: 33.33%;
				left: 0;
				
				div.front { background-image: url(../img/03_procopio_hq.jpg); }
				div.back { background-image: url(../img/03_procopio_hq.jpg); }
			}
			&#nocciuole { 
				top: 33.33%;
				left: 50%;
				
				div.front { background-image: url(../img/04_nocciole_hq.jpg); }
				div.back { background-image: url(../img/04_nocciole_hq.jpg); }
			}
			&#cedrato { 
				top: 66.66%;
				left: 0;
				
				div.front { background-image: url(../img/05_cedrato_hq.jpg); }
				div.back { background-image: url(../img/05_cedrato_hq.jpg); }
			}
			&#caffe { 
				top: 66.66%;
				left: 50%;
				
				div.front { background-image: url(../img/06_caffe_hq.jpg); }
				div.back { background-image: url(../img/06_caffe_hq.jpg); }
			}

			div.flipper {
				transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
				transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

				transform-style: preserve-3d;
				position: relative;

				div.front, div.back {
					transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
					transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

					backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 33.33vh;

					background-position: 50%;
					background-size: cover;
					background-repeat: no-repeat;
				}

				div.front {
					z-index: 2;
					transform: rotateY(0deg);
					background-position: 0 10%;

					div.fader {
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: #000000;
						opacity: 0.9;

						transition: all 2000ms linear;
						transition-timing-function: linear;

						&.faded { opacity: 0; }
					}

					div.faderSquare {
						background-image: url(../img/halo-square.png);
						background-position: 50%;
						background-size: cover;
						width: 100%;
						height: 100%;
						position: absolute;
					}
				}

				div.back {
					transform: rotateY(180deg);

					div.recipe-info {
						color: #ffffff;
						position: absolute;
						width: 100vw;
						left: 0;
						bottom: $topBarHeight + 30;
						opacity: 0;

						p { 
							padding: 0 12.5%; 
							font-size: 12px;
							font-weight: 100;

							&.recipe-age { 
								font-family: 'BodoniRoman';
								font-size: 24px;
								margin-bottom: 0;
							}

							&.recipe-title { 
								font-family: 'BodoniRoman';
								font-size: 18px;
								margin-top: 5px;
							}
						}
					}
				}
			}
		}

		div#navigation {
			position: absolute;
			width: 100vw;
			height: 100vh;
			opacity: 0;
			pointer-events: none;
			z-index: $navigationIndex;

			transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

			&.visible { 
				opacity: 1; 
				pointer-events: auto;
			}

			div#topBar {
				position: absolute;
				bottom: 0;
				left: 12.5%;
				width: 75%;
				height: $topBarHeight;
				background-color: rgba(0,0,0,.75);
				border-top: 1px solid #fff;

				div.nav-control {
					// width: 33.33%;
					height: 100%;
					float: left;

					// background-size: 10%;
					background-size: 28px 28px;
					background-repeat: no-repeat;

					&#left { 
						width: 33.33%;
						background-position: 0;
						background-image: url(../img/left-arrow.svg); 
					}
					&#home { 
						width: 11.11%;
						background-position: 50%;
						background-image: url(../img/home.svg); 
					}
					&.lang-switch { 
						// width: 11.11%;
						background-position: 50%;
						text-align: center;
						font-size: 14px;
						font-family: 'BrownRegular';

						&.toHide { display: none; }

						svg { pointer-events: none; }
					}
					// &#EN { background-image: url(../img/en.svg);  }
					// &#ZH { background-image: url(../img/zh.svg);  }
					&#right { 
						width: 33.33%;
						background-position: 100%;
						background-image: url(../img/right-arrow.svg); 
					}
				}
			}
		}

		// div#langChange {
		// 	position: absolute;
		// 	width: 100vw;
		// 	height: $topBarHeight;
		// 	left: 0;
		// 	bottom: 0;
		// 	background-color: rgba(0,0,0,.75);
		// 	color: #ffffff;
		// 	z-index: $navigationIndex;
		// 	text-align: center;
		// 	line-height: $topBarHeight;
		// 	opacity: 0;

		// 	a.lang-switch {
		// 		font-size: 12px;
		// 		border: 1px solid #ffffff;
		// 		border-radius: 2px;
		// 		padding: 3px 7px;
		// 		margin-right: 5px;
		// 	}
		// }
	}
}